
@{
    ViewBag.Title = "Searchtime";
}

<h2>時間查詢</h2>

@using (Html.BeginForm("SearchTime", "SearchTime", FormMethod.Get))
{
    <p>姓名：@Html.TextBox("name")</p>
    <p>數字：@Html.TextBox("number")</p>
    <p>Hi, @ViewBag.name, 查詢時間為：@ViewBag.result</p>
    <input type="submit" value="送出" />
}

